body{
    margin: 0;
    padding:0;
    background-color: black;
    box-sizing: border-box;
    /*overflow:hidden; /*hides extra content that can leave the page*/
    display:flex; /*display the elements in a block*/
    align-items: center;
    justify-content: center;  /*justify flex item to center*/
    height:100vh;  /*100% of the view port height*/
}

#p{
    position: relative;
    color: grey;
    letter-spacing: 5px;
    font-size: 50px;
    font-weight:bolder;
    font-family: consolas;
    line-height: 1.5;   /*distance bw the lines*/
    text-transform: uppercase;
    border-bottom: 16px solid grey;
}

#p::before{
    content: attr(abc); /* we can use attr(data-text) to bring the element or text from html page to here */
    position:absolute;
    align-items: center;
    /* top:0;
    left: 0; */
    width:100%;
    color:aqua;
    border-bottom: 16px solid aqua;
    animation: move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    overflow:hidden;  /*slowly and gradually shows the text as animation starts*/
}

@keyframes move {
    0%{width :0};
    100%{width:100}
}